
body{
    background-image: linear-gradient( rgb(71, 27, 27) , black);
    background-repeat:no-repeat ;
    width: 100vw;
    height: 100vh;
}
#header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}
.Button{
    background-color: transparent;
    outline: none;
    border: transparent;
    margin: 50px;
    background-color: transparent;
    border: transparent ;
    filter: invert(0);
    width: 50px;
    height: 50px;
    border-radius:50% ;
    transition: all 0.5s;
    box-shadow:0px 0px 0px black;
    cursor: pointer;
}
#headButton{
    margin: 4px 5px;
    width: 50px;
    height: 50px;
    border-radius:50% ;
    background-color: transparent;
    border: transparent ;
    filter: invert(0);
    transition: all 0.5s;
    box-shadow:0px 0px 0px black;
    cursor: pointer;


}
#headButton:hover{
    background-color: rgb(61, 51, 51);
    filter: invert(1);
    box-shadow: 0px 0px 5px black;
}
#center_image{
    clip-path: circle(40%);
    width: 500px;
    animation: rotate 10s infinite linear;
    border: transparent;
    

}
@keyframes rotate {
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
p{
    position: absolute;
    top:   5rem;
    left: 13.7rem;
    border: #4CAF50;
    color: rebeccapurple;
    background-color: rgb(71, 27, 27) ;
    border-radius: 50%;
    padding: 40px;
    width: 10px;
    height: 10px;
    
}
#p2{
    position: absolute;
    padding: 60px;
    top: 2em;
    left: 10.6em;
    background-color: transparent;
    border: 30px dotted rgb(166, 121, 121);
    animation: rerotate  10s infinite ease-in-out;

}
@keyframes rerotate {
    from { transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}
#body{
    position:relative;
    display: flex;
    margin: 30px;
    padding: 10px;
    border: 2px solid transparent;
    justify-self: center;
}
#contolbox{
    -webkit-appearance: none;
    width: 90%;
    display: block;
    justify-self: center;
    height: 6px;
    background-color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
    margin: 1px;

}
#contolbox::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    background-color:rgb(71, 27, 27);
    width: 25px;
    height: 25px;
    border-radius:50% ;
    transition:all 0.5s ease-out;

    border: transparent;
    transform: rotate(10deg);
    outline: 5px dotted rgb(225, 195, 195);

}
#contolbox::-webkit-slider-thumb:hover{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 5px dotted rgb(71, 27, 27) ;
    transform: rotate(360deg);
    outline: transparent;


}

#foor{

    display: block;
    column-gap: 10px;
    justify-self:center;
    
}
.Button:hover{
    background-color: rgb(61, 51, 51);
    filter: invert(1);
    box-shadow: 0px 0px 5px black;
}
