#play{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: medium;
    font-display:inherit;
    transition: color 2s ease-in-out;
    transition: background-color  3s ease-out;
    border-radius: 15px;
}
#play:hover{
    background-color: black;
    color: white;
}